.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;;
  }
  
  .carousel-inner {
    border-radius: 10px;
    width: 50%;
    max-width: 100%; /* Set max-width to 100% to prevent overflow */
    overflow: hidden; /* Add overflow to prevent images from overflowing */
    text-align: center; /* Center images horizontally */
    margin-left: auto;
    margin-right: auto;
  }
  
  @media (max-width: 768px) {
    .carousel-control-prev,
    .carousel-control-next {
      position: static;
      width: 100%;
      text-align: center;
      margin-top: 10px; /* Adjust as needed */
    }
  }

  /* Adjust iframe size for smaller screens */
@media (max-width: 768px) {
  .carousel-item iframe {
    width: 100%;
    height: auto;
    max-height: 400px; /* Adjust max-height as needed to fit within the viewport */
  }
}

  
  