.work-header {
    background: linear-gradient(to right, #d4c378, #ccae00) !important;
    text-align: left;
    padding: 10px !important;
    padding-left: 30px !important;
    padding-top: 20px !important;
    border-radius: 0.5rem;
}