.flex-container {
  width: 100%;
  min-height: 100vh;
}

@media (min-width: 1212px) {
  .flex-container {
    width: 100%;
  }
}

body {
  background: linear-gradient(to right, #e3744f, #e5da9a) !important;
  margin-top: 1.5rem;
  font-family: 'lucinda';
  box-sizing: border-box; 
}

.btn-primary {
  border-color: black;
}

.btn-primary.btn-lg {
  color: white;
  background: rgb(136, 92, 177);
}

.btn-primary:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.dropdown-menu {
  background-color: transparent !important;
  background-size: cover;
  border: none;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background: black;
}

.icon:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
